@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600@400;700&display=swap");

@mixin mobile{
  @media only screen and (max-width: 768px){
    @content;
  }
}

$border-radius: .2rem;

*{
  color: #333;
  font-family: Montserrat, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root{
  font-size: 18px;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
  margin: 0;
  color: #000;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 600;
  line-height: 1;
}

h1{
  font-size: 2rem;

  @include mobile{
    font-size: 1.5rem;
  }
}

h2{
  margin-top: 1rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  user-select: none;
  position: relative;
  border-bottom: 1px solid #AAA;
  cursor: pointer;

  @include mobile{
    font-size: 1.1rem;
  }

  &:after{
    content: "";
    width: .5rem;
    height: .5rem;
    margin: .4rem 1rem 0 1rem;
    display: inline-block;
    position: absolute;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

    @include mobile{
      width: .4rem;
      height: .4rem;
      margin-top: .15rem;
    }
  }

  &.hidden:after{
    content: "";
    margin-top: .8rem;
    transform: rotate(-135deg);

    @include mobile{
      margin-top: .3rem;
    }
  }

  a{
    font-size: .8rem;
    border: none;
    position: absolute;
    top: .5rem;
    left: -2.5rem;
  }
}

h3{
  margin-top: 1rem;
  font-size: 1.2rem;

  @include mobile{
    font-size: 1.1rem;
  }
}

b{
  font-weight: 600;
}

a{
  --color: #07F;
  color: var(--color);
  text-decoration: none;
  border-bottom: 2px solid var(--color);

  &:hover{
    --color: #B0F;
  }
}

p{
  margin: 2rem 0;
}

ul{
  margin: 0;
  padding: 1rem 1.5rem;

  & > li{
    font-size: .9rem;

    &:not(:first-child){
      margin-top: .25rem;
    }
  }
}

main{
  padding: 1rem 2rem;

  & > div{
    padding: 1rem 0;

    &.hidden{
      display: none;
    }
  }
}

footer{
  padding: .5rem;
  font-size: .85rem;
}

.note{
  padding: .2rem 1rem;
  color: #666;
  font-size: .8rem;
  font-style: italic;
  border-left: .3rem solid #DDD;

  b{
    color: inherit;
  }
}
